$dark-teal: #17373e;
$semi-dark-teal: #06494D;
$medium-teal: #066065;
$teal:#52ABA9;
$barnet-teal: #08b7b2;

$background-gradiant-1:#03ada9;
$background-gradiant-2:#125D68;
$background-gradiant-3:$background-gradiant-1;

$black: #000000;
$white: #FFFFFF;
$light-gray: #E0E0E0;

$link: #0d9990;

$derm: #0374A9;
$hair: #6E4A04;
$conscious-beauty: #069044;
$color: #891778;

$cart: #0374A9;
$alert: #F7B500;
$error: #FF2828;

$blue-1: #4A90E2;

$gray-1: #BBBBBB;
$gray-2: #555555;
$gray-3: #504C4E;
$gray-4: #6A6767;
$gray-5: #B8B3AF;
$gray-6: #D7E8E8;

$yellow: #CEC856;
$red: #E37272;

$green-1: #81B8B9;
$green-2: #BFE7E5;
$green-3: #CDE8E7;
$green-4: #0E6971;

$shadow: rgba(0,0,0,.11);
$shadow-2: rgba(0,0,0,.25);
$shadow-3: rgba(255,255,255,.25);
$shadow-4: rgba(0,0,0,.4);

//background
$bg-green-dark-1: #0E6971;
$bg-green-dark-2: #071E23;
$bg-green-dark-3: #0C7B81;
$bg-green-dark-4: #0d9990;

$bg-green-1: #BFE7E5;

$bg-teal-1: #066065;
$bg-teal-2: #52ABA9;
$bg-teal-3: #17373e;

$bg-gray-1: #eee;

$bg-white-1: #fff;
$bg-white-2: rgba(255,255,255,0.75);

//border
$bd-transparent-1: rgba(255,255,255,0.25);

$bd-gray-1: #ccc;
$bd-gray-2: #D7E8E8;
$bd-gray-3: #E0E0E0;

$bd-teal-1: #17373e;
$bd-teal-2: #066065;
$bd-teal-3: #52ABA9;

$bd-green-1: #BFE7E5;