.component-item-related {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: rem(20);
  }

  &__title {
    a {
      display: inline-block;
      font-size: rem(18);
      line-height: rem(19);
      color: $link;
    }
  }

  &__image {
    margin-right: rem(12);
    flex-shrink: 0;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(32);
      height: rem(32);
    }

    img {
      max-width: rem(25);
      max-height: rem(25);
    }
  }
}
