- imageTransparent = 'images/transparent.png'

include common/style
include common/link
include common/img
include common/nav

include common/heading-group
include common/heading-form
include common/image-content
include common/image-concepts
include common/image-oneside
include common/use-footer
include common/use-header
include common/loading

include common/filter
include common/list-product
include common/slide-hero
include common/list-attr
include common/list-compliance
include common/list-files
include common/media-group
include common/accrodion
include common/related-video
include common/list-related
include common/confirm-popup

include components/hero
include components/gmap
