extends _layouts/layout

block append vars
  - title = 'Forgot Password'
  - useFooter = true
  - useHeader = true
  - isFooterLegal = true
  - namespace = '--fit-vh --bg-gradient'

block container
  section.component-form-request(data-request-step)
    .container
      .component-form-request__wrapper(style='background-image: url(../images/bg-hexagon.png)')
        .component-form.--center
          .component-form__wrapper
            +headingGroup('Forgot Password', '', '--size-lg to-uppercase').--dark-mode.--mg-bottom-md.text-center(data-heading)
            +nav-list([
              {
                title: 'Please try again!!!'
              }
            ]).parsley-errors-list.filled(data-validate-server)
            form.component-form__form(data-parsley-validate data-parsley-errors-messages-disabled)
              .component-form__content(data-tab-content)
                .component-form__group
                  +headingForm('', 'We will send the password reset instructions to the email address associated with your account.')
                  .component-form__group__input
                    .component-form__item
                      input.form-control.--dark-mode(type="email" name="email" placeholder="Email Address" autocomplete="off" data-parsley-required data-parsley-pattern='/^([A-Za-z0-9][\._\+\-]{0,1})+[A-Za-z0-9]+@[A-Za-z0-9]+(\.{0,1}[A-Za-z0-9]){2,3}\.[a-z]{2,3}$/')
                .component-form__group.text-center
                  button.btn.btn-solid.btn-large.--dark-mode(data-next-btn type="submit")
                    | Send Mail