extends _layouts/layout

block append vars
  - title = 'Set Password'
  - useFooter = false
  - useHeader = false
  - namespace = '--fit-vh --bg-gradient'

block container
  section.component-form-account(style='background-image:  url("../images/bg-sign-in.png")')
    .component-form.--right
      .component-form__wrapper
        +link('/en/index.html', 'Logo').component-form-account__logo
          +img('/images/logo-barnet-large.svg', 'Logo')
        +headingGroup('where science meets fashion', '', 'to-uppercase').--dark-mode
          | where science meets fashion
        +nav-list([
          {
            title: 'Please try again!!!'
          }
        ]).parsley-errors-list.filled(data-validate-server)
        form.component-form__form(data-parsley-validate data-parsley-errors-messages-disabled)
          .component-form__group
            +headingForm('', 'Welcome, set your password to complete the access process.')
            .component-form__group__input
              .component-form__item
                input.form-control.--dark-mode(type="password" name="temporary_password" placeholder="Temporary Password" autocomplete="off" minlength=7 data-parsley-required)
          .component-form__group
            +headingForm('', 'Your password must be at least seven characters. For added security we recommend using upper and lower case letters as well as special characters.')
            .component-form__group__input
              .component-form__item
                input.form-control.--dark-mode(type="password" name="new_password" placeholder="New Password" autocomplete="off" minlength=7 data-parsley-required)
              .component-form__item
                input.form-control.--dark-mode(type="password" name="re_new_password" placeholder="Re-Enter New Password" autocomplete="off" minlength=7 data-parsley-required)
          .component-form__group.text-center
            button.btn.btn-solid.btn-block.btn-large.--dark-mode(data-next-btn type="submit")
              | Set Password