footer.footer
  .footer__wrapper.--small.--dark
    .container
      +nav-link([
        { title: 'Copyright 2021 Barnet Products, LLC', href: `#` },
        { title: 'Terms of Use', href: `#` },
        { title: 'Privacy Policy', href: `#` }
      ]).footer__nav